.content{
  font-size: 0.28rem;
  margin-top: 0.8rem;
}
.select-con{
  overflow: hidden;
  width: 7.5rem;
  position: fixed;
  top:0;
  background: white;
}
.select-con .select-icon{
  float: left;
  text-align: center;
  width:50%;
  line-height: 0.8rem;
  border-bottom: solid 1px #cccc77 ;
}
.select-con .seleced{
  z-index: 99;
  border-bottom:solid 1px red;
  color: red;

}



.table ul {
  overflow: hidden;
  /*padding: 0 0.32rem;*/
  margin-top: 0.25rem;
}
.table ul li {
  width: 32.5%;
  float: left;
  line-height: 0.7rem;
  text-align: center;
  background: #eee;
  margin: .43rem;
  padding: 0.05rem;
  border-radius: 0.35rem;
}
ul li a {
  color: #666;
  font-size: .25rem;
}
.table {
  overflow: hidden;
  /* margin-top: 40px; */
}
aside {
  width: 1.7rem;
  float: left;
  /* margin-left: 8px; */
  background: #eee;
  padding: 0.05rem 0;
  height: 100vh;
}
aside h4:first-child{
  margin-top: 0.5rem;
}
aside h4 {
  color: #333;
  font-weight: 500;
  padding:.08rem;
margin: 0.24rem;
  font-size: 0.25rem;

}

.color {
  color: #ff6700;
}
.cate {
  float: right;
  width: 5.6rem;
}
.footer{
  position: fixed;
  bottom: 0;
}
